<p>Parent: {{title}}</p>

<app-child [childTitle]="title"></app-child>


<form>
  <h3>Todo App</h3>
  <input type="text" class="form-control mb-2" id="todo" (input)="onKeyPress($event)" placeholder="What do you want to do?">
  <input type="text" class="form-control mb-2" id="description" (input)="onKeyPress($event)" placeholder="Describe more here...">
  <button type="button" (click)="submit()" class="btn btn-primary mb-3 w-100">Add</button>
</form>
<app-todos [todos]="todosParent"></app-todos>
