<div class="container mt-3" style="text-align: justify; padding-right: 150px">
  <h1 [style]="styles">Hello Pascal 12!</h1>
  <div class="container d-flex justify-content-center">
    <img [src]="imgSrc" [alt]="imgAlt" style="width: 540px;">
  </div>
  <p [innerHTML]="date"></p>

  <p>Morning:<br>I woke up with a mix of anticipation and enthusiasm. After a hearty breakfast, I sat down at my desk, ready to
    start my learning adventure. I first set up my development environment, ensuring I had Node.js and npm (Node
    Package Manager) installed. Following the official Angular documentation, I then installed the Angular CLI
    (Command Line Interface) on my machine. It was straightforward, and I felt a sense of achievement when I
    successfully ran the first command.</p>

  <p>Afternoon:<br>With the setup complete, I spent the afternoon getting familiar with the basic concepts of Angular. I started by
    understanding what components are and how they form the building blocks of an Angular application. I created my
    first component named "HelloWorld," and with the help of the Angular CLI, I scaffolded the necessary files. I
    opened the "HelloWorld" component and edited the template and styles, making it display a simple greeting
    message.</p>
  <p>Feeling motivated, I then learned about data binding and interpolation. It was incredible to see how Angular
    allows me to connect data from my component to the template and see it dynamically update. I experimented with
    different data types, strings, numbers, and arrays to see how Angular handles them.</p>

  <p>Evening:<br>As the evening rolled in, I took on the challenge of setting up routing for my application. I created a few more
    components representing different pages and set up routes to navigate between them. It was mind-boggling at
    first, but the Angular documentation proved to be a valuable resource in guiding me through the process.</p>
  <p>Throughout the day, I encountered a few errors and roadblocks, but I didn't let them discourage me. Instead, I
    approached each issue as a learning opportunity. I googled and used forums to find solutions, and each time I
    resolved a problem, I gained a better understanding of Angular's inner workings.</p>

  <p>Looking back on the day, I feel like I've made substantial progress in my quest to learn Angular. I've grasped
    the fundamental concepts, created my first components, and even managed to set up routing. Tomorrow, I plan to
    dive deeper into services, directives, and maybe even explore how to consume data from an API.</p>

  <p>I'm eager to continue this learning journey and excited about the possibilities that lie ahead. Angular seems
    like a powerful tool, and I can't wait to harness its full potential in building real-world applications.</p>

  <p>Signing off for today,</p>
  <p><i>{{name}}</i></p>

  <button class="btn btn-dark mb-3" [disabled]="isDisabled">Selanjutnya</button>
  <span [innerHTML]="info" style="margin-left: 10px"></span>

  <span><br>Jumlah like: {{likeCounter}}</span>
  <button (click)="increment()" class="btn btn-primary mb-3 d-block">Like</button>

  <p [style.color]="counterColor">{{counter}}</p>
  <button (click)="startCounter()" class="btn btn-success mb-3">Start Count</button>
  <button (click)="stopCounter()  " class="btn btn-danger mb-3" style="margin-left: 5px">Stop Count</button>

  <div class="card w-25 mb-3">
    <span (mouseover)="mOver()" (mouseout)="mOut()" [innerHTML]="cardMessage"></span>
  </div>

  <input type="text" class="form-control mb-3 w-50" id="name" (input)="onKeyPress($event)" placeholder="input some text...">
  <p class="mb-3">Your name will appear here: {{inputName}}</p>
</div>
